{% extends "base.html" %}

{% block title %}Family Ties - Calendar{% endblock %}

{% block head %}

 <!-- Styles for FullCalendar -->
<link rel= "stylesheet" href = "https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.css">
 <!-- My custom styles -->
 <link rel="stylesheet" href="../static/css/full-calendar.css">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    

<script>
    document.addEventListener('DOMContentLoaded', function() {
  const calendarEl = document.getElementById('calendar');
  const calendar = new FullCalendar.Calendar(calendarEl, {
    initialView: 'dayGridMonth',
    initialDate: '2021-05-03',
    
    headerToolbar: {
      left: 'prev,next today',
      center: 'title',
      right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
    },
    editable: false,
	

    events:[
    {
        "start": "2021-04-09",
        "title": "Zoom call meeting",
        "url": "https://zoom.us/",
        "popup":{"title": "this is it", "descri": "this is des",}
    
        
    },
    {
        "start": "2021-05-09",
        "title": "Mother's Day Brunch",
        "url": ""
    },
    {
    
        "start": "2021-05-15",
        "title": "Tiffany's 10th Birthday Party",
        "url": ""
    },
    {

        "start": "2021-05-29",
        "title": "Josh's Birthday Dinner",
        "url": ""
    },
    {
        "start": "2021-05-30",
        "title": "Zoom call meeting",
        "url": "https://zoom.us/"
    },
]
  });
calendar.render();
});
</script>
     



{% endblock %}

{% block content %}
<!-------------------------------------------------- NAV BAR---------------------------------------------------------->
<nav class="navbar bg-light">
    <img  class="img-thumbnail rounded mx-auto d-block" src="static/images/family.png">
    <div class="navbar-nav container flex-row">
        <a class="nav-item nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
        <a class="nav-item nav-link" href="{{ url_for('profile') }}">Profile</a>
        <a class="nav-item nav-link" href="{{ url_for('calendar') }}">Calendar</a>
        <a class="nav-item nav-link" href="{{ url_for('all_users') }}">My Family</a>
        <a class="nav-item nav-link" href="{{ url_for('admin_create_event') }}">Admin</a>
        <a class="nav-item nav-link" href="{{ url_for('sign_out') }}">Sign Out</a>
    </div>
</nav>
<div id='calendar'></div>


{% endblock %}
