{% extends "base.html" %}

{% block title %}Family Ties - Sign In{% endblock %}

{% block head %}
<!--jQuery script tag from code.jquery.com-->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<!-- Script tags from socket.IO -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script> 

<script>
  "use strict";
  let socket;
  $(document).ready(function(){
                socket = io.connect('http://' + document.domain + ':' + location.port + '/chat_room');
                socket.on('connect', function() {
                    socket.emit('join', {});
                });
                socket.on('status', function(data) {
                    $('#chat_room').val($('#chat_room').val() + '<' + data.msg + '>\n');
                });
                socket.on('message', function(data) {
                    $('#chat_room').val($('#chat_room').val() + data.msg + '\n');
                });
                $('#send').click(function(e) {
                        text = $('#text').val();
                        $('#text').val('');
                        socket.emit('text', {msg: text});
                });
            });
            function leave_room() {
                socket.emit('left', {}, function() {
                    socket.disconnect();
                    // go back to the login page
                    window.location.href = "/chat_signIn";
                });
            }
</script>
{% endblock %}
 
{% block content %}

<center>
  <div class="chatwindow">
    <h2>You're in room: {{session['room']}}</h2><br>
    <textarea id="chat" cols="70" rows="10" placeholder="No messages yet. Start one..."></textarea><br /><br />
    <input type="text" id="text" size="60" placeholder="Enter your message here" />
    <button type="button" id="send" class="btn btn-success">SEND</button><br /><br />
    <button type="button" class="btn btn-danger" onclick=leave_room()>Leave this Chat</button>
  </div>
</center>
{% endblock %}
{% block scripts %}


{% endblock %}