{% extends "base.html" %}

{% block title %}Family Ties - {{session['fname']}} Profile{% endblock %}

{% block content %}
<!-------------------------------------------------- NAV BAR---------------------------------------------------------->
<nav class="navbar bg-light">
    <img  class="img-thumbnail rounded mx-auto d-block" src="static/images/family.png">
    <div class="navbar-nav container flex-row">
        <a class="nav-item nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
        <a class="nav-item nav-link" href="{{ url_for('profile') }}">Profile</a>
        <a class="nav-item nav-link" href="{{ url_for('calendar') }}">Calendar</a>
        <a class="nav-item nav-link" href="{{ url_for('all_users') }}">My Family</a>
        <a class="nav-item nav-link" href="{{ url_for('admin_create_event') }}">Admin</a>
        <a class="nav-item nav-link" href="{{ url_for('sign_out') }}">Sign Out</a>
    </div>
</nav>
<!-------------------------------------------------- USER PROFILE INFO---------------------------------------------------------->
<div class="container bootstrap snippets bootdey">
    <div class="panel-body inf-content">
        <div class="row">
            <div class="col-md-4">
               <image  style = "width:250px" class="avatar avatar-128 bg-light rounded-circle text-white p-2 img-circle img-thumbnail isTooltip" src="https://raw.githubusercontent.com/twbs/icons/main/icons/person-fill.svg">
            </div>
            <div class="col-md-6 border border-5">
                <center><font class="font-weight-bold" color="white">User Details</font> <br></center>
                <div class="table-responsive">
                <table class="table table-user-information">
                    <tbody>
                        <tr>        
                            <td>
                                <font class="font-weight-bold" color="white">User ID</font>                                               
                            </td>
                            <td class="text-primary">
                                {{session['user_id']}}     
                            </td>
                        </tr>
                        <tr>    
                            <td>
                                <font class="font-weight-bold" color="white">First Name</font> 
                            </td>
                            <td class="text-primary">
                                {{session['fname']}}     
                            </td>
                        </tr>
                        <tr>        
                            <td>
                                <font class="font-weight-bold" color="white">Last Name</font> 
                            </td>
                            <td class="text-primary">
                                {{session['lname']}}  
                            </td>
                        </tr>
    
                        <tr>        
                            <td>
                                <font class="font-weight-bold" color="white">Occupation</font> 
                            </td>
                            <td class="text-primary">
                                {{session['job']}} 
                            </td>
                        </tr>
                        <tr>        
                            <td>
                                <font class="font-weight-bold" color="white">Email</font> 
                            </td>
                            <td class="text-primary">
                                {{session['email']}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <font class="font-weight-bold" color="white">Currently Reside</font> 

                            </td>       
                            <td class="text-primary">
                                {{session['current_location']}}  
                            </td>
                        </tr>
                        <tr>        
                            <td>
                                <font class="font-weight-bold" color="white">Place of Birth

                            </td>
                            <td class="text-primary">
                                {{session['place_of_birth']}}
                            </td>
                        </tr>
                        <tr>        
                            <td>
                                <font class="font-weight-bold" color="white">Date of Birth</font> 
                            </td>
                            <td class="text-primary">
                                {{session['dob']}}
                            </td>
                        </tr>
                        <tr>{% if session['isAdmin']== True %}        
                            <td>
                                <font class="font-weight-bold" color="white">Admin</font>  
                            </td>
                            <td class="text-primary">
                               Yes
                            </td>
                            {% else %}
                            <td>
                                <font class="font-weight-bold" color="white">Admin</font> 
                            </td>
                            <td class="text-primary">
                               No
                            </td>  
                        </tr>{% endif %}                                     
                    </tbody>
                </table>
                <center><form action="/user_profile" method='POST' enctype="multipart/form-data">
                    <input type="file" name="my-file">
                    <input type="submit">
                </form></center>
                </div>
            </div>
        </div>
    </div>
    </div>                                        
{% endblock %}