{% extends "base.html" %}

{% block title %}{{session['fname']}} Profile{% endblock %}

{% block content %}
<nav>
    <div>
        <h1>Signed in as: {{session['fname']}}</h1>
        <a href="{{ url_for('dashboard') }}"><i></i>Dashboard</a>
        <a href="{{ url_for('profile') }}"><i></i>Profile</a>
        <a href="{{ url_for('calendar') }}"><i></i>Calendar</a>
        <a href="{{ url_for('sign_out') }}"><i></i>Sign Out</a>
    </div>
</nav>
<div>
    <p>Your profile details are below:</p>
    <table>
        <tr>
            <td><img src = "{{user.profile_url}}"></td>
        </tr>
        <tr>
            <td>User ID:{{session['user_id']}}</td>
        </tr>
        <tr>
        <tr>
            <td>First Name: {{session['fname']}}</td>
        </tr>
        <tr>
            <td>Last Name: {{session['lname']}}</td>
        </tr>
        <tr>
            <td>Occupation: {{session['job']}}</td>
        </tr>
        <tr>
            <td>Email: {{session['email']}}</td>
        </tr>
        <tr>
            <td>Currently Reside: {{session['current_location']}}</td>
        </tr>
        <tr>
            <td>Place of Birth: {{session['place_of_birth']}}</td>
        </tr>
        <tr>
            <td>Date of Birth: {{session['dob']}}</td>
        </tr>
        <tr>
            <td>{% if session['isAdmin']== True %}
                    Admin: Yes
                {% else %}
                    Admin: No
                {% endif %}
            </td>
        </tr>
    </table>
    <form action="/user_profile" method="post" enctype="multipart/form-data">
        <input type="file" name="my-file">
        <input type="submit">
    </form>
</div>




{% endblock %}