{% extends "base.html" %}

{% block title %}Family Ties - {{session['name']}} Profile{% endblock %}

{% block content %}
<nav>
    <div>
        <h1>Signed in as: {{session['name']}}</h1>
        <a href="{{ url_for('dashboard') }}"><i></i>Dashboard</a>
        <a href="{{ url_for('profile') }}"><i></i>Profile</a>
        <a href="{{ url_for('calendar') }}"><i></i>Calendar</a>
        <a href="{{ url_for('sign_out') }}"><i></i>Sign Out</a>
    </div>
</nav>
<div>
    <p>Your profile details are below:</p>
    <table>
        <tr>
            <td>User ID:{{session['user_id']}}</td>
        </tr>
        <tr>
        <tr>
            <td>Name:{{session['name']}}</td>
        </tr>
        <tr>
            <td>Email:{{session['email']}}</td>
        </tr>
        <tr>
            <td>Currently Reside: {{session['current_location']}}</td>
        </tr>
        <tr>
            <td>Place of Birth: {{session['place_of_birth']}}</td>
        </tr>
        <tr>
            <td>Date of Birth: {{session['dob']}}</td>
        </tr>
    </table>
</div>
{% endblock %}